@model Prospera.Models.Extrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Extrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeExtrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeExtrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorExtrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorExtrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinatarioExtrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinatarioExtrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemetenteExtrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemetenteExtrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataExtrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataExtrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusExtrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusExtrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoExtrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoExtrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.EmailUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdExtrato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
