@model Prospera.Models.Contas

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatEmissaoCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatEmissaoCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatVenciCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatVenciCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevedorCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevedorCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagadorCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagadorCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricaocont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricaocont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPgtoCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPgtoCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoCont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoCont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.EmailUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdContas" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
