@model IEnumerable<Prospera.Models.Terceiros>
@{
    Layout = null;
    ViewData["Title"] = "Consulta";
}

<style>
    #BtnInicio {
        background-color: var(--color-tertiary);
        width: 20px;
        height: 20px;
        text-align: center;
        position: relative;
        top: 0.6em;
        border-radius: 20px;
        transition: .5s;
        font-weight: 600;
        color: white;
        padding: 10px;
    }
</style>
<header>
<!-- ConsultaTerceirosCSS -->
<link rel="stylesheet" href="/css/PaginaMenus/ConsultaTerceiros.css">
<!-- Fonte inter -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

@* Botão para a página Login de Usuario *@
<a asp-controller="Home" asp-action="Index" id="BtnInicio" class="btn btn-primary">Página inicial</a>
</header>
    <ul class="Container TerceirosContainerConsult" style="overflow-y: auto;">
        <ul class="HeadConsultContainer">
            <li><h4 class="ConsutHead1">Nome</h4></li>
            <li><h4 class="ConsutHead2">Telefone</h4></li>
            <li><h4 class="ConsutHead3">Email</h4></li>
            <li><h4 class="ConsutHead4">Observação</h4></li>
            <li><h4 class="ConsutHead7">Ultima Movimentação</h4></li>
            <li><h4 class="ConsutHead8">ID</h4></li>
        </ul>
        <li class="TtxTerceirosContainer">
            @foreach (var item in Model)
            {
            <ul class="TtxTerceirosContainer list-unstyled espacotop">
                <li><input type="text" id="TxtTerceirosNomeConsult" value="@item.NomeTerceiros"></li>
                <li><input type="text" id="TxtTerceirosTelefoneConsult" value="@item.TelefoneTerceiros"></li>
                <li><input type="text" id="TxtTerceirosEmailConsult" value="@item.EmailTerceiros"></li>
                <li><input type="text" id="TxtTerceirosObservacaoConsult" value="@item.ObservacaoTerceiros"></li>
                <li><input type="text" id="TxtTerceirosUltMovConsut" value="@item.DataUltimaMovimentacao"></li>
                <li><input type="text" id="TxtTerceirosIDConsult" value="@item.IdTerceiros"></li>
            </ul>
            }
        </li>
        
    <a asp-action="CadastroTerceiros" id="BtnTerceirosVoltarConsult">Voltar</a>
    <button id="BtnTerceirosEndercosConsult">Endereço</button>

    </ul>
<!-- link js -->
<script src="/js/PaginaInicial.js" asp-append-version="true"></script> 