@model Prospera.Helpers.TerceirosViewModel

@{
    ViewData["Title"] = "Consulta";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Evita que o usuario rotacione a tela ou aproxime para ver as informaçoes -->
    <meta name="viewport" content="width=device-width">
    <!-- link css -->
    <link rel="stylesheet" href="/css/PaginaInicial.css">
    <!-- Css Pagina Axiliares -->
    <!-- Receitas css -->
    <link rel="stylesheet" href="/css/PaginaMenus/Receitas.css">
    <!-- DespesasCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Despesas.css">
    <!-- ContaBancariaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/ContaBancaria.css">
    <!-- TerceirosCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Terceiros.css">
    <!-- TerceirosConsultaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/ConsultaTerceiros.css">
    <!-- TransacaoConsultaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Transacao.css">
    <!-- Fonte inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/img/Favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@1,100&display=swap"
          rel="stylesheet">

    <title>Prospera</title>
</head>

<body>
    <ul id="FundoMenusTerceirosConsult">
        <ul class="Container TerceirosContainerConsult" style="overflow-y: auto;">
            <li class="HeadMenuTerceirosConsult">
            </li>
            <li class="TxtInfTerceirosConsult">
                <ul class="HeadConsultContainer">
                    <li><h4 class="ConsutHead1">Nome</h4></li>
                    <li><h4 class="ConsutHead2">Telefone</h4></li>
                    <li><h4 class="ConsutHead3">Email</h4></li>
                    <li><h4 class="ConsutHead4">Observação</h4></li>
                    <li><h4 class="ConsutHead7">Ultima Movimentação</h4></li>
                    <li><h4 class="ConsutHead8">ID</h4></li>
                </ul>
                </span>
            <li class="TtxTerceirosContainer">
                    @foreach (var item in Model.ListaTerceiros)
                    {
                    <br class="espacotop" />
                    <ul class="TtxTerceirosContainer list-unstyled">
                        <li><input type="text" id="TxtTerceirosNomeConsult" value="@item.NomeTerceiros"></li>
                        <li><input type="text" id="TxtTerceirosTelefoneConsult" value="@item.TelefoneTerceiros"></li>
                        <li><input type="text" id="TxtTerceirosEmailConsult" value="@item.EmailTerceiros"></li>
                        <li><input type="text" id="TxtTerceirosObservacaoConsult" value="@item.ObservacaoTerceiros"></li>
                        <li><input type="text" id="TxtTerceirosUltMovConsut" value="@item.DataUltimaMovimentacao"></li>
                        <li><input type="text" id="TxtTerceirosIDConsult" value="@item.CodigoCont"></li>
                    </ul>
                    }
            </li>
            <a asp-controller="Terceiros" asp-action="CreateTerceiros" id="BtnTerceirosVoltarConsult">Voltar</a>
            <a asp-controller="Terceiros" asp-action="ConsultaEndereco"><button id="BtnTerceirosEndercosConsult">Endereço</button></a>
            </li>
            <li>
            </li>

        </ul>
    </ul>
        <script src="/js/PaginaInicial.js" asp-append-version="true"></script>
    }
</body>


